{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<!-- задаем заголовок страницы -->
{% block title %}cropimage{% endblock %}
<!-- блок body -->
{% block content %}
{{ wtf.quick_form(form, method='post',enctype="multipart/form-data", action="cropimage") }}
<!-- один из стандартных тэгов html - заголовок второго уровня -->
<h2>Image is here: </h2>
<!-- отображаем загруженное изображение с закругленными углами -->
<!-- если оно есть (после submit) -->
{% if parts %}
        <table border="2px">
            <tr><td>images</td><td>charts</td></tr>
            <tr><td><img src={{parts[0]}} class="img-rounded" alt="My Image" width = 224 height=224></td>
            <td><img src={{graphs[0]}} class="img-rounded" alt="My Image" width = 224 height=224></td></tr>
        </table>
        <table border="2px">
        {% for i in pics_range %}
            <tr><td><img src={{parts[i]}} class="img-rounded" alt="My Image" width = 224 height=224></td>
            <td><img src={{graphs[i]}} class="img-rounded" alt="My Image" width = 224 height=224></td></tr>
        {% endfor %}
        </table>
{% else %}
 <p> There is no images yet </p>
{% endif %}
{% endblock %} 